/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 64px;   /* navbar height */
  left: 0;

  width: 280px;
  height: calc(100vh - 64px);

background:#ffffff;
border-right:1px solid #e5e7eb;
display:flex;
flex-direction:column;
justify-content:space-between;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 999;
}

/* COLLAPSED */

.sidebar.collapsed{
width:70px;
}

/* HEADER */

.sidebar-header{
display:flex;
align-items:center;
justify-content:space-between;
padding:18px;
font-size:18px;
font-weight:600;
border-bottom:1px solid #e5e7eb;
}

.menu-btn{
cursor:pointer;
color:#6b7280;
}

/* MENU */

.sidebar-menu{
flex:1;
padding:15px;
}

/* MENU ITEM */

.menu-item{
display:flex;
align-items:center;
gap:12px;
padding:10px 14px;
margin-bottom:6px;
text-decoration:none;
font-size:14px;
font-weight:500;
color:#6b7280;
border-radius:8px;
transition:all 0.2s ease;
}

/* HOVER */

.menu-item:hover{
background:#f3f4f6;
color:#111827;
}

/* ACTIVE */

.menu-item.active{
background:linear-gradient(90deg,#3C81F6,#9234EA);
color:white;
}

/* ICON */

.menu-item svg{
font-size:20px;
}
/* PROFILE SECTION */

.sidebar-profile{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px;
border-top:1px solid #e5e7eb;
}

/* LEFT PROFILE */

.profile-left{
display:flex;
align-items:center;
gap:10px;
}

/* AVATAR */

.avatar{
width:36px;
height:36px;
border-radius:50%;
background:linear-gradient(135deg,#3C81F6,#9234EA);
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

/* NAME */

.name{
font-size:14px;
font-weight:600;
margin:0;
}

/* ROLE */

.role{
font-size:12px;
color:#6b7280;
}

/* LOGOUT ICON */

.logout-icon{
color:#9ca3af;
cursor:pointer;
transition:0.2s;
}

.logout-icon:hover{
color:#ef4444;
}
/* COLLAPSED TEXT HIDE */

.sidebar.collapsed span{
display:none;
}

.sidebar.collapsed .name,
.sidebar.collapsed .role{
display:none;
}

/* COLLAPSED ALIGN */

.sidebar.collapsed .menu-item{
justify-content:center;
}

.sidebar.collapsed .sidebar-profile{
justify-content:center;
}